<section class="responsive">

  <ul class="grid-container">

    <li><img src=""> About Me <p> I have always been interested in how things work and see myself as a problem solver. My two main passions are parenthood and life long learning.</p> <p> I am a P-10 qualified teacher that enjoys sharing learning to maximise growth I majored in Maths and Science. I am presently volunteering for the local Sunshine Coast Coding Dojo Club. </p><p>I am sales savvy with 12 years’ experience of exceeding my KPIs and having an entrepreneurial spirit for growing business. In the UK I owned my own coaching business where I worked with Price Waterhouse Coopers to design and deliver coaching programs to initiate change management.</p>
    </li>

    <li> <%= image_tag("21430075_10212206387248593_6485710341180433199_n.jpg") %>
    <p> I am a mum of two adorable boys and believe that as a mum I should follow my dreams and become a coder.</p><p>I want to be a positive role model for my children and show them that they can do whatever they set their mind on.</p>
    </li>

  </ul>

</section>
