
  <ul class="grid-container">
  <li class="li1">
  <div class="plant"> <%= image_tag ("jazmin-quaynor-105210.jpg"), class: "plant" %>
    <h3>Coding is magic</h3>
    <p>I have an immense love for coding. I want to use code to create impactful tools that make our world a better place.</p>              <!-- If you want that the lights of your room should automatically be switched off as soon as you leave the room , if you want your mobile phone to automatically send emails and messages , even if you want to make a robot for yourself to do all the hard work , everything seems possible when you know how to program.</p> -->
    <p> <a href="">View more.</a></p>
  </div>
  </li>

  <li class="li2"> <%= image_tag "laptop-notebook-computer-macbook-mac-work-608650-pxhere.com.jpg"%>
    <h3>About me </h3>
    <p> I am a mum that codes.</p>
    <p> Why?</p> <p>Sharing my knowledge and providing others with access to technological skills that allow them to take control of their life.</p>
    <p><a href="/about/">Find out more about me</a></p>
  </li>

  <li class="li3"> <img src="">
    <h3> Projects: </h3>
  </li>

  <li class="li4"> <img src="">
    <h3> My Coding Groups: </h3>
    <p> Sunshine Coast Dojo Mentor<br></br> Women in STEMM in the Sunshine State<br></br> Women Who Code Brisbane<br></br> NodeGirls Brisbane</p>
  </li>

  <li class="li5"> <%= image_tag "Screen Shot 2017-09-07 at 1.08.48 am.png"%>
    <h3>Skills </h3>
    <p> I am a full stack developer with skills in html, css, ruby on rails, and python. <a href="#">View Projects</p>
  </li>
</ul>
