<section class="responsive">

  <ul class="grid-container">
    <h4> Here is a selection of my projects. Please view more on <a href= "https://github.com/tracykaur" target: :_blank do >Github.</a></h4>

  <li> <%= image_tag("Screen Shot 2017-09-08 at 12.05.20 am.png") %>
    <p>A paraalax website using CSS Zen garden's html</p>
  </li>

  <li> <%= image_tag("Screen Shot 2017-09-08 at 12.07.25 am.png") %>
    <p>A ruby App made using gems to check for grammar and slang </p>
  </li>

  </ul>

</section>
