</div>

<hr />

<h2>Coding lessons for beginners of all ages</h2>
<ul>
  <li><a href="http://www.codecademy.com" target="_blank">Codecademy</a>: Learn to code interactively, for free, on the web.</li>
  <li><a href="https://www.codeschool.com" target="_blank">Code School</a>: Code School teaches web technologies in the comfort of your browser with video lessons, coding challenges, and screencasts.</li>
  <li><a href="http://www.codeavengers.com" target="_blank">Code Avengers</a>: Learn to build websites, apps and games with HTML, CSS and JavaScript.</li>
  <li><a href="http://code.org/learn" target="_blank">Code.org Tutorials</a>: Simple tutorials for beginners that can be completed in an hour or less.</li>
  <li><a href="http://csunplugged.org" target="_blank">Computer Science Unplugged</a>: A collection of free learning activities for the classroom or home that teaches Computer Science through engaging games and puzzles that use cards, string, crayons and lots of running around.</li>
  <li><a href="http://www.funlearning.com" target="_blank">Angry Birds Fun Learning</a>: Learn to code the fun way! Discover fun coding apps and courses for various difficulty levels.</li>
  <li><a href="http://www.w3schools.com" target="_blank">W3Schools Online Web Tutorials</a>: A collection of tutorials and references for web-related languages.</li>
  <li><a href="http://www.academy-of-code.com/en" target="_blank">Academy of Code</a>: A collection of free interactive tutorials for HTML, CSS, JavaScript, PHP and MySQL.</li>
  <li><a href="http://www.codingame.com" target="_blank">CodinGame</a>: Play video games using code, learn programming in more than 20 programming languages.</li>
  <li><a href="http://silentteacher.toxicode.fr" target="_blank">Silent Teacher</a>: a step by step and funny way to learn the basics.</li>
  <li><a href="https://codecombat.com" target="_blank">CodeCombat</a>: an online game that teaches programming. Students write code in real programming languages (Python, JavaScript, Lua, CofeeScript, Clojure).</li>
  <li><a href="http://codespells.org" target="_blank">CodeSpells</a> revolves around the idea of crafting your own magical spells to interact with the world, solve problems, and fight off foe.</li>
</ul>

<h2>Coding for younger beginners</h2>

<ul>
  <li><a href="http://scratch.mit.edu/" target="_blank">Scratch</a>: With Scratch, you can program your own interactive stories, games, and animations — and share your creations with others in the online community. Primarily designed for 8 to 16 year olds, available in a variety of languages, can be used <a href="http://scratch.mit.edu/projects/editor/?tip_bar=getStarted" target="_blank">online</a> or offline with the <a href="http://scratch.mit.edu/scratch2download/" target="_blank">Scratch editor</a> on Mac, Windows and Linux computers. Teachers should visit <a href="http://scratch-ed.org/" target="_blank">ScratchED</a>, an online community where Scratch educators share stories, exchange resources, ask questions, and find people.</li>
  <li><a href="https://www.gethopscotch.com" target="_blank">Hopscotch</a>: iPad app recommended for kids ages 8 and above with simple, intuitive building blocks that can be used to create games, animations and apps in a colorful, interactive environment. Even younger coders can also try the <strong><a href="http://www.daisythedinosaur.com" target="_blank">Daisy the Dinosaur</a></strong> app.</li>
  <li><a href="http://www.scratchjr.org/" target="_blank">ScratchJr</a>: ScratchJr is an introductory programming language that enables young children (ages 5 to 7) to create their own interactive stories and games. ScratchJr was inspired by Scratch, but redesigned the interface and programming language to make them developmentally appropriate for younger children. Currently available as an iPad app, with an Android version scheduled to be released later in 2014, and a web-based version in 2015.</li>
  <li><a href="https://coderdojo.com" target="_blank">CoderDojo</a>: The CoderDojo website features a variety of information for parents, kids and volunteers looking to start their own coding club for children. Part of the website is also a list of <a href="http://kata.coderdojo.com/wiki/Main_Page" target="_blank">resources</a> that can be used to teach a variety of programming languages to different age groups.</li>
  <li><a href="https://www.robomindacademy.com/" target="_blank">RoboMind Academy</a>: By programming a virtual robot, the student is introduced to logic, automation and technology. Available as an online educator-friendly platform that can be used with students aged 8 years or older. A good start is the <a href="https://www.robomindacademy.com//go/navigator/coursedetails?course=HourOfCode" target="_blank">Hour of Code Tutorial</a>.</li>
  <li><a href="https://www.allcancode.com" target="_blank">Run Marco!</a>: an adventure game for kids that teaches the basic of coding. Available as a browser game and an <a href="https://play.google.com/store/apps/details?id=com.allcancode.runmarco" target="_blank">Android app</a>, already translated in 13 European languages (more coming soon).</li>
  <li><a href="https://pocketcode.org" target="_blank">Pocket Code</a>: An Android app that allows you to create your own games, animations, interactive music videos, and other kinds of apps, directly on your phone or tablet. An easy way to get started is the <a href="https://pocketcode.org/hourOfCode" target="_blank">Skydiving Steve</a> hour of code tutorial. Or you can follow Horst's <a href="http://spielend-programmieren.at/blog/20161008_scannerapp.html">step-by-step tutorial</a> to transform your smartphone into an scanner for alien lifeforms.</li>
  <li><a href="http://www.kodugamelab.com/" target="_blank">Kodu</a>: Kodu lets kids create games via a simple visual programming language. Kodu can be used to teach creativity, problem solving, storytelling, as well as programming. Available for Windows computers.</li>
  <li><a href="https://www.playcodemonkey.com" target="_blank">CodeMonkey</a>: CodeMonkey is a fun online game that teaches you how to code. In this free technology and STEM game, students learn about computer coding concepts like functions and loops by programming a monkey to find bananas! Real world programming language. Write code. Catch bananas. Save the world.</li>
  <li><a href="http://codeweek.it/codyroby/" target="_blank">CodyRoby</a>: Unplugged games and activities.</li>
</ul>

<h2>Full online courses for advanced learners</h2>
<ul>
  <li><a href="http://www.codecademy.com" target="_blank">Codecademy</a>: Learn to code interactively, for free, on the web.</li>
  <li><a href="https://www.edx.org/course-list/allschools/computer-science/allcourses" target="_blank">edX</a>: EdX offers interactive online classes and MOOCs from the world’s best universities. Online courses from MITx, HarvardX, BerkeleyX, UTx and many other universities.</li>
  <li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/" target="_blank">MIT OpenCourseWare</a>: MIT OpenCourseWare (OCW) is a web-based publication of virtually all MIT course content. OCW is open and available to the world and is a permanent MIT activity.</li>
  <li><a href="https://www.coursera.org/courses?orderby=upcoming&cats=cs-programming" target="_blank">Coursera</a>: Coursera is an education platform that partners with top universities and organizations worldwide, to offer courses online for anyone to take, for free.</li>
  <li><a href="https://www.udacity.com/courses#!/all" target="_blank">Udacity</a>: Online education that bridges the gap between academic and real world skills. Taught by industry leaders excited to share their expertise from companies such as Google, Facebook, Cloudera, and MongoDB.</li>
</ul>

<h2>6 month bootcamp course for learners</h2>
<ul>
<li><a href="https://coderacademy.edu.au/" target="_blank">Coder Academy</a>: Fast track your tech career with Coder Academy. Become an in-demand Junior Developer in six months. <p> * I can personally recommend this one. It runs in Australia: Brisbane, Sydney and Melbourne *.</p></li>

		</div>
	</div>
</section>
