// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #EBEBEB
}

.plant{
  width: 100%
  height 1fr;
}

h1 a {
  color: #2E4D43;
  text-decoration: none;
}

a {
  color: #2E4D43;
}

a:hover {
  color: #C4D0CD;
}

img {
  display: block;
  width: 100%;
  border: 6px solid #C4D0CD;
}

section {
  margin: 2rem 3rem;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin: 2rem 3rem;

}

.developer {
  font-size: 22px;
  margin: 0 0 0 15px;
  text-align:center;
  padding: 0 55px;
  color: #102F25;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2rem 0 0 0;
  line-height: 1.5;
  text-align: left;
}
h4 {
  line-height: 1.5;
}

.nav-container {
  margin:10px;
  border:solid #C4D0CD;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px;
  border-width:thin;
}
.nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px ;
}
.nav a {
  text-decoration: none;
}

.responsive ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-gap: 1rem;
}

ul {
  margin: 0rem;
  padding: 1rem;
}

.tweet{
  width:50px;
  height:50px;
  margin-bottom: 5px
}

.linkedin{
  width:50px;
  height:50px;
  margin-bottom: 5px
}

.github{
  width:50px;
  height:50px;
  margin-bottom: 5px;
}

.medium{
  width:50px;
  height:50px;
  margin-bottom: 5px;
}

.logo{
  width:200px;
  height:200px;
  border: none;
  margin-left: auto;
  margin-right: auto;

}

li {
  background: #DDD6D3;
  padding: 1rem;
  list-style: none;
  display: inline;
  border-radius: 15px;
}

.li1:nth-child(1) {
  background-color: #718879;
  grid-column: span 2;
}

.li2:nth-child(2) {
  background-color: #DDD6D3;
  grid-column: span 1;
}

.li3:nth-child(3){
  background-color: #B5AEAB;
  grid-row: span 1;
  font-size: 26px;
}

.li4:nth-child(4){
  background-color: #B5AEAB;
  grid-row: span 1;
}

.li5:nth-child(5){
  background-color: #718879;
  grid-row: span 1;
}

.grid-container{
  font-size: 24px;
}

.footer-container {
    margin:10px;
    border:solid #C4D0CD;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    border-width: thin;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 0 0 0 40px ;
}

.footer a {
  text-decoration: none;
}
