<!DOCTYPE html>
<html lang="en">

<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  <title>Tracy Kaur</title>

</head>

<body>
<header class="header"
    <div class="wrapper">
        <h1><a href="">Tracy Kaur</a>
        </h1>
      </div>
    </div>




  <section class="responsive">
    <h2>Portfolio
    </h2>

  <ul class="grid-container">
    <li class="li1" > <img src="assets/images/jazmin-quaynor-105210.jpg">
      <h3>Coding is magic</h3> <h4>I have an immense love for coding and the reason is being able to code is like having a supernatural power, you can literally create anything from scratch.<br></br> It’s crazy how few lines of code can make a machine do anything we want. </h4>
        <!-- If you want that the lights of your room should automatically be switched off as soon as you leave the room , if you want your mobile phone to automatically send emails and messages , even if you want to make a robot for yourself to do all the hard work , everything seems possible when you know how to program.</p> -->
        <p> <a href="">View more.</a></p>
    </li>
    <li class="li2"> <img src=""> <h3>Bootstrap</h3> <p> <a href="#">View more.</a></p>
    </li>
      <li class="li3"> <img src="">
        <h3>Contact Me</h3>
          <p><div class="tweet"> <a href="https://twitter.com/tracykaur"> <img src="twitter.png" style="width:50px;height:50px;"></p>
      </li>
      <li class="li4"> <img src="">
        <h3>Work Title</h3>
        <p> <a href="#">View more.</a></p>
      </li>
      <li class="li5"> <img src="">
        <h3>Ruby</h3>
        <p> <a href="#">View more.</a></p>
      </li>


    </ul>
  </section>

  <section class="responsive2">

    <ul class="grid-container">
      <li>Volunteer Work <img src=""></li>

      <li> Clubs<img src=""></li>

      <li> Awards <img src=""> </li>

      <li> <img src=""> </li>

    </ul>

  </section>
